
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
</head>

<body>
    <h4 style="margin-top: 10px;">Đặt Chỗ Của Tôi</h4>
    <section style="margin-top: 20px">
        <div class="container">
            <table class="table" style="font-size: 12px;">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="vertical-align: middle;">Ảnh</th>
                        <th scope="col" style="vertical-align: middle;">Thông tin chi tiết</th>
                        <th scope="col" style="vertical-align: middle; width: 25%;">Mô tả ngắn</th>
                        <th scope="col" style="vertical-align: middle; width: 30%;">Mô tả chi tiết</th>
                        <th scope="col" style="vertical-align: middle;">Trạng thái</th>
                        <th scope="col" style="vertical-align: middle;">Chỉnh sửa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="vertical-align: middle;"><img src="~/Assets/images/product/hn_can_ho_1.jpg" style="height: 120px;" /></th>
                        <th style="vertical-align: middle;">
                            Tên: BOMHOMES <br /> <br />
                            Địa điểm: Hà Nội <br /> <br />
                            Giá phòng: 1,200,000đ/đêm <br /> <br />
                            Số phòng ngủ: 3 phòng <br /> <br />
                            Loại hình cho thuê: Căn hộ dịch vụ <br /> <br />
                            Địa điểm cụ thể: Cầu Giấy, Hà Nội, Việt Nam

                        </th>
                        <th style="vertical-align: middle;">Phòng riêng · 1 Phòng tắm · 1 giường · 1 phòng ngủ · 2 khách (tối đa 3 khách)</th>
                        <th style="vertical-align: middle;">·Vị trí rất đẹp và thuận tiện ở quận Cầu Giấy<br /><br />·Gần công viên Cầu Giấy, Lotteria, trung tâm mua sắm với môi trường ngoài trời yên tĩnh<br /><br />·Bạn hoàn toàn có thể trải nghiệm những dịch vụ cao cấp tại đây<br /><br />·Căn hộ được thiết kế với nhiều lựa chọn bố trí hợp lý và được trang bị theo tiêu chuẩn cao cấp 4 sao với ban công riêng và cảnh quan đẹp<br /><br />·Có nhiều dịch vụ tại chỗ khác nhau như giặt ủi, dịch vụ vệ sinh, Wi-Fi miễn phí tốc độ cao, an ninh 24/7<br /><br />·Dịch vụ khách hàng đặc biệt được cung cấp</th>
                        <th style="vertical-align: middle;">Đang thuê</th>
                        <th style="vertical-align: middle;">
                            <a href="">Sửa</a>
                            <p></p>
                            <p></p>
                            <a href="">Xóa</a>
                        </th>
                    </tr>
                </tbody>
            </table>


        </div>
    </section>



</body>
</html>

